<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiles</title>
</head>
<body>
    <h1>Profiles</h1>
    <ul>
        {% for profile in profiles %}
            <li>
                <a href="{% url 'profile_detail' profile.pk %}">{{ profile.user.username }}</a>
                <p>Seller: {% if profile.is_seller %}Yes{% else %}No{% endif %}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
